@inherits LayoutComponentBase

<RadzenComponents/>

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.SpaceBetween" Gap="0"
                     class="rz-h-100 rz-px-4">

            <RadzenLink Path="/" style="font-weight:600;font-size:1.05rem;white-space:nowrap;text-decoration:none;color:inherit;margin-right:1.5rem;">
                Ticket Platform
            </RadzenLink>

            <NavMenu/>

            <ProfileMenu/>

        </RadzenStack>
    </RadzenHeader>

    <RadzenBody>
        <RadzenStack class="rz-p-4">
            <div style="max-width:1320px;margin:0 auto;width:100%;">
                @Body
            </div>
        </RadzenStack>
    </RadzenBody>
</RadzenLayout>
